<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dimple.maintenance.mapper.EamsPolicyMapper">

    <resultMap type="com.dimple.maintenance.domain.Policy" id="EamsPolicyMap">
        <result property="polId" column="pol_id"/>
        <result property="polName" column="pol_name"/>
        <result property="ancestors" column="ancestors"/>
        <result property="parentId" column="parent_id"/>
        <result property="orderNum" column="order_num"/>
        <result property="score" column="score"/>
        <result property="remark" column="remark"/>
        <result property="status" column="status"/>
        <result property="input" column="input"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <!--查询单个-->
    <select id="selectPolicyById" resultMap="EamsPolicyMap">
        select
          p.pol_id, p.pol_name, p.ancestors, p.parent_id,p.input, p.status,p.order_num, p.score, p.remark, p.create_by, p.create_time,(select pol_name from eams_policy where pol_id =p.parent_id ) as parent_name
        from eams_policy p
        where p.pol_id = #{polId}
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="selectPolicyList" resultMap="EamsPolicyMap">
        select
        pol_id, pol_name, ancestors, parent_id, order_num, score, remark, create_by, create_time,status,input
        from eams_policy
        <where>
            <if test="polName != null and polName != ''">
                and pol_name like concat('%',#{polName},'%')
            </if>
            <if test="parentId != null">
                and parent_id = #{parentId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(u.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(u.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
        order by order_num
    </select>

    <select id="selectPolicyCountByParentId" resultType="java.lang.Integer">
        select count(*) from eams_policy where parent_id=#{polId}
    </select>

    <!--新增所有列-->
    <insert id="insertPolicy" keyProperty="polId" useGeneratedKeys="true">
        insert into eams_policy (
        <if test="polName !=null and polName !=''">pol_name,</if>
        <if test="ancestors != null and ancestors != ''">ancestors,</if>
        <if test="parentId != null and parentId != ''">parent_id,</if>
        <if test="orderNum != null and orderNum != ''">order_num,</if>
        <if test="score != null and score != ''">score,</if>
        <if test="status != null and status != ''">status,</if>
        <if test="input != null and input != ''">input,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        <if test="remark != null and remark != ''">remark,</if>
        create_time
        )values(
        <if test="polName != null and polName != ''">#{polName},</if>
        <if test="ancestors != null and ancestors != ''">#{ancestors},</if>
        <if test="parentId != null and parentId != ''">#{parentId},</if>
        <if test="orderNum != null and orderNum != ''">#{orderNum},</if>
        <if test="score != null and score != ''">#{score},</if>
        <if test="status != null and status != ''">#{status},</if>
        <if test="input != null and input != ''">#{input},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        sysdate()
        )
    </insert>

    <!--通过主键修改数据-->
    <update id="updatePolicy">
        update eams_policy
        <set>
            <if test="polName != null and polName != ''">
                pol_name = #{polName},
            </if>
            <if test="input != null and input != ''">
                input = #{input},
            </if>
            <if test="ancestors != null and ancestors != ''">
                ancestors = #{ancestors},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum},
            </if>
            <if test="score != null">
                score = #{score},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
            update_time = sysdate()
        </set>
        where pol_id = #{polId}
    </update>

    <update id="updatePolicyChildren">
        update eams_policy set ancestors =
        <foreach collection="policies" item="item" index="index"
                 separator=" " open="case pol_id" close="end">
            when #{item.polId} then #{item.ancestors}
        </foreach>
        where pol_id in
        <foreach collection="policies" item="item" index="index"
                 separator="," open="(" close=")">
            #{item.polId}
        </foreach>
    </update>

    <!--通过主键删除-->
    <delete id="deletePolicyById">
        delete from eams_policy where pol_id = #{polId}
    </delete>

    <delete id="deletePolicyByIds">
        delete from eams_policy where pol_id in
        <foreach collection="array" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

</mapper>