<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dimple.maintenance.mapper.EamsStudentMapper">

    <resultMap type="com.dimple.maintenance.domain.Student" id="EamsStudentMap">
        <result property="stuId" column="stu_id"/>
        <result property="stuName" column="stu_name"/>
        <result property="stuNum" column="stu_num"/>
        <result property="profId" column="prof_id"/>
        <result property="sex" column="sex"/>
        <result property="email" column="email"/>
        <result property="phoneNum" column="phone_num"/>
        <result property="password" column="password"/>
        <result property="idCard" column="id_card"/>
        <result property="status" column="status"/>
        <result property="salt" column="salt"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <!--查询单个-->
    <select id="selectStudentById" resultMap="EamsStudentMap">
        select
          stu_id, stu_name, stu_num, prof_id, sex, email, phone_num, password, id_card, status, salt, create_by, create_time, update_by, update_time
        from eams.eams_student
        where stu_id = #{stuId}
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="selectStudentList" resultMap="EamsStudentMap">
        select
        stu_id, stu_name, stu_num, prof_id, sex, email, phone_num, password, id_card, status, salt, create_by,
        create_time, update_by, update_time
        from eams.eams_student s
        <where>
            <if test="stuId != null">
                and stu_id = #{stuId}
            </if>
            <if test="stuName != null and stuName != ''">
                and stu_name = #{stuName}
            </if>
            <if test="stuNum != null and stuNum != ''">
                and stu_num = #{stuNum}
            </if>
            <if test="profId != null">
                and prof_id = #{profId}
            </if>
            <if test="sex != null and sex != ''">
                and sex = #{sex}
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <if test="phoneNum != null and phoneNum != ''">
                and phone_num = #{phoneNum}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="idCard != null and idCard != ''">
                and id_card = #{idCard}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="salt != null and salt != ''">
                and salt = #{salt}
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(u.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(u.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
            <if test="profId != null and profId != 0">
                AND (s.prof_id = #{profId} OR s.prof_id IN ( SELECT p.prof_id FROM eams_profession p WHERE FIND_IN_SET
                (#{profId},ancestors) ))
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insertStudent" keyProperty="stuId" useGeneratedKeys="true">
        insert into eams.eams_student(stu_name, stu_num, prof_id, sex, email, phone_num, password, id_card, status, salt, create_by, create_time, update_by, update_time)
        values (#{stuName}, #{stuNum}, #{profId}, #{sex}, #{email}, #{phoneNum}, #{password}, #{idCard}, #{status}, #{salt}, #{createBy}, #{createTime}, #{updateBy}, #{updateTime})
    </insert>

    <!--通过主键修改数据-->
    <update id="updateStudent">
        update eams.eams_student
        <set>
            <if test="stuName != null and stuName != ''">
                stu_name = #{stuName},
            </if>
            <if test="stuNum != null and stuNum != ''">
                stu_num = #{stuNum},
            </if>
            <if test="profId != null">
                prof_id = #{profId},
            </if>
            <if test="sex != null and sex != ''">
                sex = #{sex},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="phoneNum != null and phoneNum != ''">
                phone_num = #{phoneNum},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="idCard != null and idCard != ''">
                id_card = #{idCard},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
            <if test="salt != null and salt != ''">
                salt = #{salt},
            </if>
            <if test="createBy != null and createBy != ''">
                create_by = #{createBy},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where stu_id = #{stuId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteStudentById">
        delete from eams.eams_student where stu_id = #{stuId}
    </delete>
    <!--通过主键批量删除-->
    <delete id="deleteStudentByIds">
        delete from eams_student where stu_id in
        <foreach collection="array" close=")" open="(" separator="," item="studentId">
            #{studentId}
        </foreach>
    </delete>

</mapper>