<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dimple.maintenance.mapper.EamsStudentMapper">

    <resultMap type="com.dimple.maintenance.domain.Student" id="EamsStudentMap">
        <result property="stuId" column="stu_id"/>
        <result property="stuName" column="stu_name"/>
        <result property="stuNum" column="stu_num"/>
        <result property="profId" column="prof_id"/>
        <result property="sex" column="sex"/>
        <result property="email" column="email"/>
        <result property="phoneNum" column="phone_num"/>
        <result property="password" column="password"/>
        <result property="idCard" column="id_card"/>
        <result property="status" column="status"/>
        <result property="salt" column="salt"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <!--查询单个-->
    <select id="selectStudentById" resultMap="EamsStudentMap">
        select
          s.stu_id, s.stu_name, s.stu_num, s.prof_id, s.sex, s.email, s.phone_num, s.id_card, s.status,s.remark,p.prof_name
        from eams_student s left join eams_profession p on s.prof_id = p.prof_id
        where stu_id = #{stuId}
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="selectStudentList" resultMap="EamsStudentMap">
        select
        s.stu_id, s.stu_name, s.stu_num, s.prof_id, s.sex, s.email, s.phone_num, s.password, s.id_card, s.status,
        s.salt, s.create_by,
        s.create_time, s.update_by, s.update_time,remark
        from eams.eams_student s left join eams_profession p on s.prof_id = p.prof_id
        <where>
            <if test="stuName != null and stuName != ''">
                and s.stu_name like concat('%',#{stuName},'%')
            </if>
            <if test="stuNum != null and stuNum != ''">
                and s.stu_num = #{stuNum}
            </if>
            <if test="status != null and status != ''">
                and s.status = #{status}
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(u.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(u.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
            <if test="profId != null and profId != 0">
                AND (s.prof_id = #{profId} OR s.prof_id IN ( SELECT t.prof_id FROM eams_profession t WHERE FIND_IN_SET
                (#{profId},ancestors) ))
            </if>
        </where>
    </select>

    <select id="checkProfessionExistStudent" resultType="java.lang.Integer">
            select count(*) from eams_student where prof_id=#{profId}
    </select>

    <!--新增所有列-->
    <insert id="insertStudent" keyProperty="stuId" useGeneratedKeys="true">
        insert into eams_student (
        <if test="stuName != null and stuName != ''">stu_name,</if>
        <if test="stuNum != null and stuNum != ''">stu_num,</if>
        <if test="profId != null and profId != ''">prof_id,</if>
        <if test="sex != null and sex != ''">sex,</if>
        <if test="email != null and email != ''">email,</if>
        <if test="password != null and password != ''">password,</if>
        <if test="salt != null and salt != ''">salt,</if>
        <if test="status != null and status != ''">status,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        <if test="phoneNum != null and phoneNum != ''">phone_num,</if>
        <if test="idCard != null and idCard != ''">id_card,</if>
        <if test="remark != null and remark != ''">remark,</if>
        create_time
        )values(
        <if test="stuName != null and stuName != ''">#{stuName},</if>
        <if test="stuNum != null and stuNum != ''">#{stuNum},</if>
        <if test="profId != null and profId != ''">#{profId},</if>
        <if test="sex != null and sex != ''">#{sex},</if>
        <if test="email != null and email != ''">#{email},</if>
        <if test="password != null and password != ''">#{password},</if>
        <if test="salt != null and salt != ''">#{salt},</if>
        <if test="status != null and status != ''">#{status},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        <if test="phoneNum != null and phoneNum != ''">#{phoneNum},</if>
        <if test="idCard != null and idCard != ''">#{idCard},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        sysdate()
        )
    </insert>

    <!--通过主键修改数据-->
    <update id="updateStudent">
        update eams.eams_student
        <set>
            <if test="stuName != null and stuName != ''">
                stu_name = #{stuName},
            </if>
            <if test="stuNum != null and stuNum != ''">
                stu_num = #{stuNum},
            </if>
            <if test="profId != null">
                prof_id = #{profId},
            </if>
            <if test="sex != null and sex != ''">
                sex = #{sex},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="phoneNum != null and phoneNum != ''">
                phone_num = #{phoneNum},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="idCard != null and idCard != ''">
                id_card = #{idCard},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
            <if test="salt != null and salt != ''">
                salt = #{salt},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            update_time = sysdate()
        </set>
        where stu_id = #{stuId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteStudentById">
        delete from eams.eams_student where stu_id = #{stuId}
    </delete>
    <!--通过主键批量删除-->
    <delete id="deleteStudentByIds">
        delete from eams_student where stu_id in
        <foreach collection="array" close=")" open="(" separator="," item="studentId">
            #{studentId}
        </foreach>
    </delete>

</mapper>