<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dimple.maintenance.mapper.EamsProfessionMapper">

    <resultMap type="com.dimple.maintenance.domain.Profession" id="EamsProfessionMap">
        <result property="profId" column="prof_id"/>
        <result property="profName" column="prof_name"/>
        <result property="orderNum" column="order_num"/>
        <result property="leader" column="leader"/>
        <result property="phoneNum" column="phone_num"/>
        <result property="status" column="status"/>
        <result property="parentId" column="parent_id"/>
        <result property="email" column="email"/>
        <result property="type" column="type"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"
        />
    </resultMap>

    <!--查询单个-->
    <select id="selectProfessionById" resultMap="EamsProfessionMap">
        select
          p.prof_id, p.prof_name, p.order_num, p.leader, p.phone_num, p.status, p.parent_id, p.email, p.type, p.create_by, p.create_time,(select prof_name from eams_profession where prof_id = p.parent_id) parent_name,p.ancestors
        from eams.eams_profession as p
        where prof_id = #{id}
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="selectProfessionList" resultMap="EamsProfessionMap">
        select
        prof_id, prof_name, order_num, leader, phone_num, status, parent_id, email, type, create_by, create_time
        from eams_profession
        <where>
            <if test="profId != null">
                and prof_id = #{id}
            </if>
            <if test="profName != null and profName != ''">
                and prof_name = #{profName}
            </if>
            <if test="orderNum != null">
                and order_num = #{orderNum}
            </if>
            <if test="leader != null and leader != ''">
                and leader = #{leader}
            </if>
            <if test="phoneNum != null and phoneNum != ''">
                and phone_num = #{phoneNum}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="parentId != null">
                and parent_id = #{parentId}
            </if>
            <if test="type != null and type != ''">
                and type = #{type}
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(u.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(u.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
    </select>
    <select id="selectProfessionCountById" resultType="java.lang.Integer">
        select count(*) from eams_profession where parent_id=#{profId}
    </select>

    <!--新增所有列-->
    <insert id="insertProfession" keyProperty="id" useGeneratedKeys="true">
        insert into eams_profession (
        <if test="profName !=null and profName !=''">prof_name,</if>
        <if test="orderNum != null and orderNum != ''">order_num,</if>
        <if test="leader != null and leader != ''">leader,</if>
        <if test="phoneNum != null and phoneNum != ''">phone_num,</if>
        <if test="email != null and email != ''">email,</if>
        <if test="status != null and status != ''">status,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        <if test="parentId != null and parentId != ''">parent_id,</if>
        <if test="ancestors != null and ancestors != ''">ancestors,</if>
        <if test="type != null and type != ''">type,</if>
        create_time
        )values(
        <if test="profName != null and profName != ''">#{profName},</if>
        <if test="orderNum != null and orderNum != ''">#{orderNum},</if>
        <if test="leader != null and leader != ''">#{leader},</if>
        <if test="phoneNum != null and phoneNum != ''">#{phoneNum},</if>
        <if test="email != null and email != ''">#{email},</if>
        <if test="status != null and status != ''">#{status},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        <if test="parentId != null and parentId != ''">#{parentId},</if>
        <if test="ancestors != null and ancestors != ''">#{ancestors},</if>
        <if test="type != null and type != ''">#{type},</if>
        sysdate()
        )
    </insert>

    <!--通过主键修改数据-->
    <update id="updateProfession">
        update eams_profession
        <set>
            <if test="profName != null and profName != ''">
                prof_name = #{profName},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum},
            </if>
            <if test="leader != null and leader != ''">
                leader = #{leader},
            </if>
            <if test="phoneNum != null and phoneNum != ''">
                phone_num = #{phoneNum},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="type != null and type != ''">
                type = #{type},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
            update_time = sysdate()
        </set>
        where prof_id = #{profId}
    </update>

    <update id="updateProfessionChildren">
        update eams_profession set ancestors =
        <foreach collection="professions" item="item" index="index"
                 separator=" " open="case prof_id" close="end">
            when #{item.profId} then #{item.ancestors}
        </foreach>
        where prof_id in
        <foreach collection="professions" item="item" index="index"
                 separator="," open="(" close=")">
            #{item.profId}
        </foreach>
    </update>

    <!--通过主键删除-->
    <delete id="deleteProfessionById">
        delete from eams.eams_profession where prof_id = #{id}
    </delete>

    <delete id="deleteProfessionByIds">
        delete from eams_profession where prof_id in
        <foreach collection="array" close=")" open="(" separator="," item="id">
            #{id}
        </foreach>
    </delete>

</mapper>