<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('部门列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="dept-form">
                <div class="select-list">
                    <ul>
                        <li>
                            名称：<input type="text" name="deptName"/>
                        </li>
                        <li>
                            状态：<select name="status" th:with="type=${@dict.getType('sys_normal_disable')}">
                            <option value="">所有</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                    th:value="${dict.dictValue}"></option>
                        </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.treeTable.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add(100)" shiro:hasPermission="maintenance:profession:add">
                <i class="fa fa-plus"></i> 新增
            </a>
            <a class="btn btn-primary" onclick="$.operate.edit()" shiro:hasPermission="maintenance:profession:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-info" id="expandAllBtn">
                <i class="fa fa-exchange"></i> 展开/折叠
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-tree-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var addFlag = [[${@permission.hasPermi('maintenance:profession:add')}]];
    var editFlag = [[${@permission.hasPermi('maintenance:profession:edit')}]];
    var removeFlag = [[${@permission.hasPermi('maintenance:profession:remove')}]];
    var datas = [[${@dict.getType('sys_normal_disable')}]];
    var prefix = ctx + "maintenance/profession"

    $(function () {
        var options = {
            code: "profId",
            parentCode: "parentId",
            uniqueId: "profId",
            url: prefix + "/list",
            createUrl: prefix + "/add/{id}",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove/{id}",
            modalName: "班级",
            columns: [{
                field: 'selectItem',
                radio: true
            },
                {
                    field: 'profName',
                    title: '名称',
                    align: "left",
                    width: "20%"
                },
                {
                    field: 'orderNum',
                    title: '排序',
                    align: "left"
                },
                {
                    field: 'leader',
                    title: '负责人',
                    align: "left"
                },
                {
                    field: 'phoneNum',
                    title: '负责人电话',
                    align: "left"
                },
                {
                    field: 'email',
                    title: '负责人邮箱',
                    align: "left"
                },
                {
                    field: 'status',
                    title: '状态',
                    align: "left",
                    formatter: function (value, item, index) {
                        return $.table.selectDictLabel(datas, item.status);
                    }
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    align: "left"
                },
                {
                    title: '操作',
                    align: 'left',
                    formatter: function (value, row, index) {
                        if (row.parentId != 0) {
                            var actions = [];
                            actions.push('<a class="' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.profId + '\')"><i class="fa fa-edit"></i>编辑</a>');
                            actions.push('<a class="' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.profId + '\')"><i class="fa fa-trash"></i>删除</a>');
                            actions.push('<a class="' + addFlag + '" href="#" onclick="$.operate.add(\'' + row.profId + '\')"><i class="fa fa-plus"></i>添加下级部门</a>');
                            return $.table.dropdownToggle(actions.join(''));
                        } else {
                            return "";
                        }
                    }
                }]
        };
        $.treeTable.init(options);
    });
</script>
</body>
</html>